<!DOCTYPE html>
html(lang="en")
    include ./templates/_head
    body
        section.hero.is-dark
            include ./templates/_header
            .hero-body: .container.has-text-centered: h1.title= message
        section.section
            main.container.has-text-centered
        include ./templates/_scripts